@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html { scroll-behavior: smooth; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9f9f9;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


